
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    env_file:
      - frontend/.env
    depends_on:
      - pathcutter

  pathcutter:
    build:
      context: ./backend
    container_name: pathcutter
    env_file:
      - backend/.env
    depends_on:
      - redis

  redis:
    image: redis:8-alpine
    container_name: pathcutter-redis
    restart: unless-stopped
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --maxmemory 150mb
      --maxmemory-policy allkeys-lru
    volumes:
      - redis-data:/data

volumes:
  redis-data:
    name: redis-data