basePath: /
definitions:
  handler.errorResponse:
    properties:
      error:
        type: string
    type: object
  handler.shortenRequest:
    properties:
      url:
        type: string
    required:
    - url
    type: object
  handler.shortenResponse:
    properties:
      code:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: URL shortener service
  title: PathCutter API
  version: "1.0"
paths:
  /{code}:
    get:
      description: Redirects user to the original URL by short code
      parameters:
      - description: Short code
        in: path
        name: code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "301":
          description: Moved Permanently
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.errorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.errorResponse'
      summary: Redirect to original URL
      tags:
      - url
  /shorten:
    post:
      consumes:
      - application/json
      description: Generates a short code for the provided URL and stores it in Redis
      parameters:
      - description: URL to shorten
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/handler.shortenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.shortenResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.errorResponse'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/handler.errorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.errorResponse'
      summary: Create short URL
      tags:
      - url
swagger: "2.0"
